<!-- Change Password Template -->

<!-- Modal Header -->
<div class="modal-header">
  <h3 class="modal-title">Change Password</h3>
</div>
<!-- End of Modal Header  -->

<form novalidate name="changePasswordForm" 
data-ng-submit="submitChangePassword(changePasswordForm.$valid)" method="POST">
<!-- Modal Body -->
<div class="modal-body">
  <div class="container-fluid">
    <!--Current Password  -->
    <div class="row">
      <div class="col-xs-4">
        <label style="margin-left:36px;font-weight:normal;">Current Password</label>
      </div>
      <div class="col-xs-8">
  	    <input type="password" class="form-control" data-ng-model="currentPassword" name="currentPassword"  	
  	    placeholder="Current Password" required/> 
  	  </div> 	
    </div>
  	<!--Current Password Validation-->
    <span data-ng-show='changePasswordForm.currentPassword.$dirty && changePasswordForm.currentPassword.$invalid' 
    style="color:red;margin-left:65%;">
	  <span data-ng-show='changePasswordForm.currentPassword.$error.required'>Current Password is required</span>      
    </span> 
    <br> 
    <!--New Password -->
    <div class="row">
      <div class="col-xs-4">
        <label style="margin-left:55px;font-weight:normal;">New Password</label>
      </div>
      <div class="col-xs-8">
  	    <input type="password" class="form-control" data-ng-model="newPassword" name="newPassword"  	
  	    placeholder="New Password" required/>  	
  	  </div>
  	 </div>
  	  <!--New Password Validation -->
     <span data-ng-show='changePasswordForm.newPassword.$dirty && changePasswordForm.newPassword.$invalid' 
     style="color:red;margin-left:69%;">
	   <span data-ng-show='changePasswordForm.newPassword.$error.required'>New Password is required</span>      
     </span> 
     <br>
     <!--Confirm Password -->
     <div class="row">
       <div class="col-xs-4">
         <label style="margin-left:34px;font-weight:normal;">Confirm Password</label>
       </div>
       <div class="col-xs-8">
  	     <input type="password" class="form-control" data-ng-model="confirmPassword" name="confirmPassword"  	
  	     placeholder="Confirm Password" compare-to="newPassword" required/> 
  	   </div> 
  	  </div>	
  	  <!--Confirm Password Validation  -->
      <span data-ng-show='changePasswordForm.confirmPassword.$dirty && changePasswordForm.confirmPassword.$invalid' 
      style="color:red;margin-left:40%;">
	    <!--<span data-ng-show='changePasswordForm.confirmPassword.$error.required'>*Current Password required</span>-->
	    <span data-ng-show='!changePasswordForm.confirmPassword.$error.required && changePasswordForm.confirmPassword!=changePasswordForm.newPassword'>New Password & Confirm password does not match</span>	  	        
      </span> 
      <br> 
  </div>
</div>
<!-- End of Modal Body  -->


<!-- Modal Footer -->
<div class="modal-footer">  
  <div class="text-center">
    <button class="btn btn-default" type="button" data-ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" data-ng-disabled="changePasswordForm.$invalid"
    type="submit">Change Password</button>
  </div>
</div>
<!-- End of Modal Footer -->
</form>

<!-- End of Change Password Template -->