<!-- Forgot Password Template -->

<!-- Modal Header -->
<div class="modal-header">
  <h3 class="modal-title">Forgot Password?</h3>
</div>
<!-- End of Modal Header  -->

<form novalidate name="forgotPasswordForm" 
data-ng-submit="submitForgotPassword(forgotPasswordForm.$valid)" method="POST">
<!-- Modal Body -->
<div class="modal-body">
  <div class="container-fluid text-center">
  	<input type="text" class="form-control" data-ng-model="username" name="username" 
    placeholder="Username" required/>
    <span data-ng-show='forgotPasswordForm.username.$dirty && forgotPasswordForm.username.$invalid' 
    style="color:red;margin-left:74%;">
      <span data-ng-show='forgotPasswordForm.username.$error.required'>Username is required</span>
    </span>
    <br> 
  	<input type="email" class="form-control" data-ng-model="email" name="email"
  	data-ng-pattern='/^[_a-zA-Z0-9]+(\.[_a-zA-Z0-9]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,4})$/'
  	required placeholder="Email Id">  	
    <span data-ng-show='forgotPasswordForm.email.$dirty && forgotPasswordForm.email.$invalid'>
	  <span data-ng-show='forgotPasswordForm.email.$error.required' style="color:red;margin-left:70%;">Email address is required</span>
      <span data-ng-show='forgotPasswordForm.email.$error.pattern' style="color:red;margin-left:62%;">Please enter valid email address</span>
    </span> 
    <br>   
  </div>  
</div>
<!-- End of Modal Body  -->


<!-- Modal Footer -->
<div class="modal-footer">  
  <div class="text-center">
    <button class="btn btn-default" type="button" data-ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" data-ng-disabled="forgotPasswordForm.$invalid"
    type="submit">Submit</button>
  </div>
</div>
<!-- End of Modal Footer -->
</form>

<!-- End of Forgot Password Template -->